<%= render "layouts/header" %>
<div class="work_place">
<h1>Transactions</h1>
<ul>
<% @transactions.each do |i| %>
<li>Goal:<%= link_to i.goal, i %>  </br>
<%= i.summ %>  <%= i.currency %></li>
<% end %>
</ul>
<%= will_paginate @transactions %>
</div>