
<%= render "layouts/header" %>
<div class="work_place">

<h1>Все транзакции</h1>
<p>
	Сортировка:
	<%= link_to "Новые сверху", transactions_path(order: "desc") %> |
	<%= link_to "Старые сверху", transactions_path(order: "asc") %> 
</p>
<ul>
<% @transactions.each do |i| %>
<li><%= link_to i.goal + " - " + i.summ.to_s,i %></li>
<% end %>
</ul>
<div class="digg_pagination">
	<div class="page_info">
  <%= page_entries_info @transactions %>
</div>
  <%= will_paginate @transactions, :container => false %>
</div>

<%= link_to 'Новая транзакция', new_transaction_path(@transaction) %>  
</div>

