<%= render "layouts/header" %>
<div class="work_place">
<h1>Создание новой транзакции</h1>
<%= simple_form_for @transaction do |f| %>
<%= render partial: "form", locals: { f: f } %>
<%= f.submit "Создать транзакцию" %>
<%= link_to 'Назад', transactions_path %>
<% end %>

</div>

