<!DOCTYPE html>
<html>
<head>
  <title>OmegaProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div>
    <%= link_to "Transactions", transactions_path %>
  </div>
  <div>
    <%= link_to "User edit", edit_user_registration_path %>
  </div>
  <div>
    <%= link_to "Wallets", wallets_path %>
  </div>
  <div>
    <%= link_to "Log out", destroy_user_session_path, :method => :delete  %>
  </div>
</header>

<div id="work_place">
  <%= yield %>
</div>
</body>
</html>
